html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root[data-theme="light"] {
  --bg-color: #ffffff;
  --text-color: #000000;
  --secondary-text-color: #636363;
  --primary-color: #757bc3;
}

:root[data-theme="dark"] {
  --bg-color: #1a1f3c;
  --text-color: #ffffff;
  --secondary-text-color: #a5a5a5;
  --primary-color: #8f94fb;
}
